@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Teko:wght@700&display=swap');

body{    
    padding:0px;
    font-family: 'Oswald', sans-serif;
    margin:0px;
    background-color:#FAD3D1;
    color:#FFECEB;
  }
  
  .text-container{
    width: 90%;
    text-align: center;
    margin:auto;
  }
  .top-half{
    padding-top:0px;
    margin-top:0px;
    background-color:#DFA29F;
    text-align: center;
  }
  .page-title{
    font-family: 'Teko', sans-serif;
    display: inline-block; 
    font-size:1.5em;  
    text-align:center;
    color:#FFECEB;
  }
  .description-text{
    text-align: center;
    height:5px;
  }
  .play-again{
    font-size: 1.2em;
    display: none;
    padding-top: 40px;
    text-align: center;
    color:#DFA29F;
  }
  .dark-color{
    color:#DFA29F;
  }

  .dark-color:hover{
    color:rgb(190, 133, 130);
  }
  .dark-color:visited{
    color:#DFA29F;
  }

  .backDoor
  {
    margin-left:40px;
    background-color: #FFECEB;
    position:relative;
    width:100px;
    height:200px;
    box-shadow:0 6px 0px 6px #FF605C inset;
    
    margin: 0 auto;
    margin-top:50px;
  }
  
  .door
  {
    background-color: #FF605C;
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    height:200px;
    cursor: pointer;
    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
  }
  .door-knob{
    position:absolute;
    width:10px;
    height:10px;
    left: 80px;
    top: 95px;
    background: #FFEBA6;
    border-radius:50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,     0.25);
  }
 
  a{
    color:#FFECEB;
      text-decoration: none;
  }
  a:visited{
    color:#FFECEB;
  }
  .doorOpen
  {
    /*prespectiv creates the door open effect*/
    transform: perspective(1200px) translateZ(0px) translateX(-1px) translateY(0px) rotateY(-130deg);
    cursor: default;
  }
  
  .inside-door{
      text-align: center;
      margin-top: 120px;
  }
  .door-container{
    width:600px;
    margin: auto;
    display: flex;
  }

  .result{
      text-align: center;
      height: 20px;
  }
/* ----Jump Animation------- */
  @keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
  }
  .jump {
    transform-origin: 50% 50%;
    animation: jump .5s linear alternate infinite;
  }
/* ------Jump Animation----------- */

/* ----sway Animation------- */
/* @keyframes sway  {
  0% { transform: rotate(16deg); }
  50% { transform: rotate(-16deg); }
  100% { transform: rotate(8deg); }
}
.sway{
  animation: sway 1s infinite;
  animation-timing-function: ease-in-out;
} */
@keyframes sway {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  75%  {transform: translate(0,-150px) scale3d(0.9,1.1,1);}
  100% {transform: translate(0,100%,0) scale3d(1.5,.7,1);}
  
}
.sway {
  transform-origin: 50% 50%;
  animation: sway .7s linear alternate 1;
  transform: translate3d(0,100%,0) scale3d(1.5,0.7,1);

}

  @media only screen and (max-width: 600px) {
    .page-title{
      font-family: 'Teko', sans-serif;
      display: inline-block; 
      font-size:1.3em;  
      text-align:center;
      color:#FFECEB;
    }
  .door-container{
    width:360px;
    margin:auto;
 }
  
  .backDoor
  {
    margin-left:40px;
    background-color: #FFECEB;
    position:relative;
    width:60px;
    height:120px;
    box-shadow:0 6px 0px 6px #FF605C inset;
    
    margin: 0 auto;
    margin-top:50px;
  }
  
  .door
  {
    background-color: #FF605C;
    position:absolute;
    top:0px;
    left:0px;
    width:60px;
    height:120px;
    cursor: pointer;
    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
  }
  .door-knob{
    position:absolute;
    width:8px;
    height:px;
    left: 45px;
    top: 55px;
    background: #FFEBA6;
    border-radius:50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,     0.25);
  }  
  .inside-door{
    text-align: center;
    margin-top: 90px;
    width: 30px;
}
}
  
  
  
  
@media only screen and (max-width: 380px) {
  .page-title{
    font-family: 'Teko', sans-serif;
    display: inline-block; 
    font-size:1.2em;  
    text-align:center;
    color:#FFECEB;
  }
  .door-container{
    width:310px;
    margin:auto;
 }
  
  .backDoor
  {
    background-color: #FFECEB;
    position:relative;
    width:50px;
    height:100px;
    box-shadow:0 6px 0px 6px #FF605C inset;
    
    margin: 0 auto;
    margin-top:50px;
  }
  
  .door
  {
    background-color: #FF605C;
    position:absolute;
    top:0px;
    left:0px;
    width:50px;
    height:100px;
    cursor: pointer;
    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
  }
  .door-knob{
    position:absolute;
    width:8px;
    height:px;
    left: 40px;
    top: 50px;
    background: #FFEBA6;
    border-radius:50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,     0.25);
  }  
  .inside-door{
    text-align: center;
    margin-top: 70px;
    width: 30px;
}
}